/*
 *= require store/spree_core
*/

#categories {
  position: relative;
}

.nav-item {
  float: left;
  width: 75px;
  text-align: center;
  height: 20px;
}

.nav-item .nav-button a {
  display: block;
}
.nav-button {
  position: relative;
}

.nav-item .arrow-up {
  width: 0;
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  display: none;
  position: absolute;
  bottom: -5px;
  left: 49%;
  z-index: 20000;
}

.nav-item:hover > .nav-button .arrow-up {
  display: block;
}

.nav-view {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 960px;
  z-index: 10000;
  text-align: left;
  display: none;
  background-color: #333;
}

.nav-view .section-row {
  width: 960px;
}

.nav-view .section-wrapper {
  width: 25%;
  float: left;
}

.nav-item:hover > .nav-view {
  display: block;
}

.nav-view .section {
  text-align: left;
  margin: 20px;
}

.nav-view .section-title a {
  color: #7dcc3f;
  text-transform: capitalize; 
  font-weight: bold;
  font-size: 14px;
}

.nav-view .section-title {
  padding: 5px 0px;
}

.nav-view .section-items a {
  color: white;
  text-transform: capitalize; 
  font-weight: bold;
  font-size: 12px;
  display: block;
}

.nav-view .section-items {
  padding: 5px 0px;
}
